{% extends "base.html" %} {% block heading %} homepage {% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% block body %}
<header id="header">
  <div class="container">
    <h2>
      I'm a passionate
      <b><span>virtual assistance and real estate officer</span></b> from
      Nairobi, Kenya
    </h2>
    <p>
      <h5>
      I'm are a versatile professional with extensive experience as a virtual
      assistant, real estate officer, accountant, and bookkeeper.
      </h5>
    </p>
    <div class="social-links">
      <a href="https://twitter.com/Sebby_wekesa" class="twitter"
        ><i class="bi bi-twitter"></i
      ></a>
      <a href="https://github.com/sebby-wekesa" class="github"
        ><i class="bi bi-github"></i
      ></a>
      <a href="https://www.instagram.com/iam_s.e.b.b.y/#" class="instagram"
        ><i class="bi bi-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/sebby-wekesa-1532781a0"
        class="linkedin"
        ><i class="bi bi-linkedin"></i
      ></a>
    </div>
  </div>
</header>
{% endblock %}
